// For styling Event On items
//front page display

.front_events .whats-on:link { margin:0px auto;font-variant: small-caps;font-size:20px;font-family:"Lato"}

.front_events #evcal_list {border:none}

.front_events .eventon_list_event {background-color:transparent!important;border-radius: 5px}

.front_events  .evo_start .time {display:inline-block!important;font-size:15px;margin-top:-10px}

 .front_events .evcal_desc2.evcal_event_title {display:inline-block;white-space:normal!important;font-variant:small-caps!important;font-family:"Lato"}
//front page display
.ajde_evcal_calendar {

	font-family: "Lato";
	color: $cod-grey !important
}

#evcal_head.calendar_header #evcal_cur {
	color: $killarney !important;
	margin-bottom: 20px !important;
}

// date items start
.evo_cal_above .evo-jumper-btn {
	background-color: $cedar !important;
	opacity: 1.0 !important;
	font-variant: small-caps !important;

}

.evo_cal_above .evo-gototoday-btn {


	background-color: $prairie !important;
	opacity: 0.7 !important;
	font-variant: small-caps;
}

.evo_cal_above_content {
	// border-top: 1px dashed $cedar !important;
	// border-bottom: 1px dashed $cedar !important;
	// margin-top:20px!important;
	// margin-bottom: 20px !important
}

.calendar_header .evo_j_dates .legend a {

	color: $off-white !important;
	background-color: $cedar !important;
	font-weight: normal !important
}

.calendar_header .evo_j_dates .legend a.current {
	color: $off-white !important;
	background-color: $prairie !important;
}

.calendar_header .evo_j_dates .legend a.set {
	color: $cedar !important;
	background-color: $off-white !important;
}

// date items eNd

//Main list

.eventon_list_event .evcal_desc span.evcal_event_title {
	color: $cedar !important;
	font-variant: small-caps !important;
}

.evcal_list_a {
	background: $yorange !important;
	border-color: $yorange !important
}

#evcal_list {
	border-color: $yorange !important
}

.evo_start .date {
	color: $killarney !important
}

.evo_start .month {
	color: $prairie !important
}

.evo_start .time {
	color: $cedar !important
}

.evcal_event_subtitle {color:$prairie!important}
