footer {
	//min-height: 20vh;
	padding-top: 20px;
	padding-bottom: 10px;
	background: $prairie;
	line-height: 1.2;
	font-family: 'Lato', sans-serif;
	background-image: url("/wp-content/themes/Jenny-Lind/assets/img/swirls/cedar-swirl-up.svg");
	background-position: center bottom -25px;
	background-size: 250px;
	background-repeat: no-repeat;
}
#bottom-strap h3 {
	margin: 5px 0;
}
#bottom-strap ul {
	padding: 0;
	list-style: none;
}
#bottom-strap .widget {
	list-style: none;
}
#bottom-strap ul li a:link,
#bottom-strap ul li a:visited {
	color: $prairie!important;
}
#bottom-strap ul li a:hover {
	color: $yorange !important;
	text-decoration: none;
}
#bottom-strap {
	background: $cedar;
	font-size: 15px;
	padding-top: 15px;
	padding-bottom: 25px;
	vertical-align: middle;
}
.legal {
	font-family: "Lato";
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}
.legal h2.widgettitle {
	color: $vis;
	font-size: 20px;
	font-variant: small-caps;
	margin-bottom: 15px;
}
.legal ul li {
	padding: 0;
	line-height: 1.2;
}
.legal ul li a {
	padding: 0;
}
// Copyright in footer (rem to make dynamic)
.copyright-area {
	padding-top: 10px;
	padding-bottom: 10px;
	color: $prairie;
	line-height: 12px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-align: center;
}
.copyright-area:hover {
	color: $vis;
}
//Footer cols
.footer-left {
	padding: 20px;
	margin-bottom: 20px;
}
.footer-mid {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
}
.footer-mid h2.widgettitle {
	color: $vis;
	font-size: 20px;
	font-variant: small-caps;
	margin-bottom: 15px;
}
.footer-mid li {
	margin-bottom: 5px;
}
.footer-right {}
.cards-area {
	text-align: center; //
	color: $yorange;
}
/* Social icons */
#bottom-strap .social-area {
	text-align: center;
	padding-top: 15px;
}
#bottom-strap .social-area ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#bottom-strap .social-area ul li {
	display: inline-block;
}
#bottom-strap .social-area .nav-link {
	padding-right: 0;
}
#bottom-strap .social-area a:link,
#bottom-strap .social-area a:visited {
	color: $yorange!important;
}
#bottom-strap .social-area a:hover {
	color: $vis!important;
}
#bottom-strap {
	padding-bottom: 20px;
	padding-top: 40px;
	background-color: $cedar;
}
.contact p {
	color: $vis;
	font-family: "Lato";
	line-height: 1.5;
	font-variant: small-caps;
	text-align: center;
}
.contact a.call_me:link {
	background: $vis;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	//width: 80%;
	text-align: center;
}
.contact a.call_me:hover {
	background: $cedar;
	color: $vis;
	text-decoration: none;
}
/* Back to Top */
#top {
	display: inline-block;
	background-color: $cedar;
	color: $vis;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	padding-top: 5px;
	bottom: 30px;
	right: 30px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	border:2px solid $prairie;
}
#top .fa-chevron-up {
	color: vis;
	font-size: 35px;
}
#top:hover {
	cursor: pointer;
	background-color: $yorange;
	color: $cedar;
	border:2px solid $yorange;
}
#top:active {
	background-color: $cedar;
	border:2px solid $cedar;
}
#top.show {
	opacity: 1;
	visibility: visible;
}
// Opening opening_hours
.opening {
	color: $prairie;
	padding-top: 0;
	line-height: 1;
	font-family: "Lato";
	font-size: 20px;
	margin: 0 auto;
	text-align: left;
	display: inline-block;
}
.opening h2.widgettitle {
	color: $vis;
	font-size: 20px;
	font-variant: small-caps;
}
.opening .day {
	color: $prairie;
	margin: 0;
}
.opening .check_0 {
	margin-bottom: 5px;
	color: $vis;
}
.opening .day_name {
	width: 15%;
	display: inline-block;
	font-variant: small-caps;
	font-size: 15px;
}
.opening .time_open {
	width: 80%;
	display: inline-block;
	font-size: 15px;
}
// Opening opening_hours
