.hb-dp-day-link {}

.hb-dp-day-check-in {}

.hb-dp-selected {
	background-color: $killarney;
}

.hb-dp-highlight {
	background-color: $killarney;
}
//CONTACT FORM

.super-form {}

.super-form input {
	background: $vis;
	bordere: 2px solid redp;
}

.getting_here {}

.getting_here ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 3px double $cedar;
}

.getting_here ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.getting_here .fa-car,
.getting_here .fa-map-marker-alt,
.getting_here .fa-phone-square,
.getting_here .fa-taxi,
.getting_here .fa-train {
	color: $cedar!important;
}
//contact form styling

.contact-form {
	border-top: 3px double $cedar;
}

input.super-shortcode-field {
	background-color: blue!important;
}

.super-button-wrap {
	color: $yorange!important;
	background-color: $cedar!important;
	padding: 10px!important !important;
	border-radius: 5px!important;
	border: 1px solid $cedar!important;
	font-family: 'Lato', sans-serif!important;
}

.super-button-wrap:hover {
	color: $yorange!important;
	background-color: $cedar!important;
	padding: 10px!important !important;
	border-radius: 5px!important;
	border: 1px solid $cedar!important;
	font-family: 'Lato', sans-serif!important;
}

.super-field-wrapper input[type=text] {
	border: 1px solid $vis!important;
  background:$yorange!important;
  padding:10px!important;
  color:$cedar!important;
  border-radius: 5px!important
}


.super-field-wrapper input[type=text]:focus {
	border: 1px solid $vis!important;
  background:$yorange!important;
  padding:10px!important;
  color:$cedar!important;
  border-radius: 5px!important
}
.super-field-wrapper textarea::placeholder,
.super-field-wrapper input[type=text]::placeholder { /* Most modern browsers support this now. */
   color:    $cedar;
   font-size:16px!important;
   //font-weight: bold;
}

.super-field-wrapper textarea {
	border: 2px solid $vis!important;
  background:$yorange!important;
  padding:10px!important;
  color:$cedar!important;
  border-radius: 5px!important
}
