// Header Settings
header {
	min-height         : 20vh;
	//background         : $vis;
	background-position: center center;
	background-size    : cover;
	font-family        : 'Lato', sans-serif;
	text-align         : center;
}
header.half {
	height: 50vh;
}
header.third {
	height: 33vh;
}
header.quarter {
	height: 25vh;
}
header.full {
	height: 100vh;
}
.main_image {
	height             : 50vh;
	text-align         : center;
	display            : block;
	background-size    : cover;
	background-position: center center;
	border             : 2px solid $cedar;
	margin-bottom      : 100px;
}
.main_title {
	position  : relative;
	top       : 80%;
	background: $killarney;
	display   : inline-block;
	padding   : 5px;
	border    : 3px double $cedar;
	margin    : 0;
}
.main_image h1 {
	font-size  : 60px;
	color      : $off-white;
	font-family: 'Zebrawood';
	//padding    : 10px;
	margin     : 0;
}
.bg-light {
	background-color: transparent !important;
}
#navy {
	position  : fixed;
	width     : 100%;
	height    : 300px;
	z-index   : 200;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+92,ffffff+100&1+18,0+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 18%, rgba(0,0,0,0) 92%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 18%,rgba(0,0,0,0) 92%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,1) 18%,rgba(0,0,0,0) 92%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
//	background: rgba($vis, .5) !important;
transition: background-color 0.8s, opacity 0.8s, visibility 0.8s, height 0.8s;
	font-size : 18px;



}
// on scroll menu-icon
#navy.black {
	background    : rgba($killarney, .9) !important;
	transition    : background-color 0.8s, opacity 0.8s, visibility 0.8s, height 0.8s;
	height        : 100px;
	padding-bottom: 5px;
}
.top_right {
	text-align  : left;
	padding     : 0;
	width       : 40%;
	padding-top : 15px;
	font-variant: small-caps;
}
.top_left {
	padding     : 0;
	text-align  : right;
	width       : 40%;
	padding-top : 15px;
	font-variant: small-caps;
}
.top_center {
	height             : 200px;
	background-image   : url("/wp-content/themes/Jenny-Lind/assets/img/jenny-logo-railings-cedar-address.svg");
	background-repeat  : no-repeat;
	background-size    : contain;
	background-position: center;
	width              : 40%;
	//background:white
}
.top_center:hover {
	height          : 200px;
	background-image: url("/wp-content/themes/Jenny-Lind/assets/img/jenny-logo-railings-cedar-address-over.svg");
}
.black .top_center {
	height             : 80px;
	background-image   : url("/wp-content/themes/Jenny-Lind/assets/img/jenny-logo-railings-white.svg");
	background-repeat  : no-repeat;
	background-size    : contain;
	background-position: center;
	margin-top         : 7px;
	width              : 20%;
	transition         : background-color 0.8s, opacity 0.8s, visibility 0.8s, height 0.8s;
}
.menu_left {
	list-style: none;
	width     : auto;
	padding   : 0;
	text-align: right;
	margin-top: 15px;
	float     : right;
}
.menu_right {
	list-style: none;
	text-align: left;
	width     : auto;
	padding   : 0;
	margin-top: 15px;
	float     : left;
}
// Phone now
.phone-now {
	display: inline-block;
	color  : white;
}
.menu_left li,
.menu_right li {
	display    : inline-block;
	padding    : 0;
	margin     : 0;
	border     : none;
	line-height: 1;
	float      : left;
}
.menu_left li:first-child {
	border-left: 2px solid $cedar;
}
.menu_right li:last-child {
	border-right: 2px solid $cedar;
}
.menu_left li a:link,
.menu_left li a:visited {
	color        : $cedar;
	border-top   : 2px solid $cedar;
	border-bottom: 2px solid $cedar;
	padding      : 5px 10px;
	border-left  : none;
}
// scroll element
.black .menu_left li a:link,
.black .menu_left li a:visited {
	color        : $cedar;
	border-top   : 2px solid transparent;
	border-bottom: 2px solid transparent;
	padding      : 5px;
	border-left  : none;
}
.black .menu_left li:first-child {
	border-left: 2px solid transparent;
}
.menu_right li a:link,
.menu_right li a:visited {
	color        : $cedar;
	border-top   : 2px solid $cedar;
	border-bottom: 2px solid $cedar;
	padding      : 5px 10px;
	border-left  : none;
}
// scroll element
.black .menu_right li a:link,
.black .menu_right li a:visited {
	color        : $cedar;
	border-top   : 2px solid transparent;
	border-bottom: 2px solid transparent;
	padding      : 5px;
	border-left  : none;
}
.black .menu_right li:last-child {
	border-right: 2px solid transparent;
}
.menu_left li a:hover,
.menu_right li a:hover {
	color     : $yorange;
	background: $cedar;
}
// on scroll menu-icon
#navy.black {
	background    : rgba($killarney, .9) !important;
	transition    : background-color 0.8s, opacity 0.8s, visibility 0.8s, height 0.8s;
	height        : 100px;
	padding-top   : 5px;
	padding-bottom: 5px;
}
#navy.black .menu-item a:link,
#navy.black .menu-item a:visited {
	color: $off-white;
}
#navy.black .menu-item a:hover {
	background: $off-white;
	color     : $killarney;
}
// FULL SCREEN NAV
#fp-nav {
	border-radius: 10px;
	background   : black !important;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: off-white !important;
}
#fp-nav ul li a span:hover,
.fp-slidesNav ul li a span:hover {
	background: $yorange !important;
}
