// Mobile Navigation

#mobileNav{}
.mobile-nav {
	background    : rgba($killarney, 0.95) !important;
	transition    : background-color 0.8s, opacity 0.8s, visibility 0.8s, height 0.8s;
	padding-top   : 5px;
	padding-bottom: 5px;
	position      : fixed;
	width         : 100%;
	height        : 80px;
	z-index       : 50;
  text-align: center;
}
.mobile-nav .book-now {
	border: 1px solid red;
}
.mobile li {
	padding   : 0;
	margin    : 0;
	list-style: none;
	display   : block;
	left      : 0;
	margin    : 5px 20px;
}
.mobile li:hover {
	background: $killarney;
	color     : $cod-grey;
}
.mobile {
	list-style: none;
	margin    : 0;
	padding   : 0;
}

//hamburger
.button_container {
	position  : fixed;
	top       : 27px;
	right     : 30px;
	height    : 27px;
	width     : 35px;
	cursor    : pointer;
	transition: opacity 0.25s ease;
	z-index   : 60;
}
.button_container:hover {
	opacity: 0.7;
}
.button_container.active .top {
	transform : translateY(11px) translateX(0) rotate(45deg);
	background: $off-white;
}
.button_container.active .middle {
	opacity   : 0;
	background: $off-white;
}
.button_container.active .bottom {
	transform : translateY(-11px) translateX(0) rotate(-45deg);
	background: $off-white;
}
.button_container span {
	background: $off-white;
	border    : none;
	height    : 5px;
	width     : 100%;
	position  : absolute;
	top       : 0;
	left      : 0;
	transition: all 0.35s ease;
	cursor    : pointer;
}
.button_container span:nth-of-type(2) {
	top: 11px;
}
.button_container span:nth-of-type(3) {
	top: 22px;
}

//The pop up menu
.overlay {
	position  : fixed;
	background: rgba($killarney, 0.95) !important;
	top       : 80px;
	left      : 0;
	width     : 100%;
	height    : 0;
	opacity   : 100;
	visibility: hidden;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;
	overflow  : hidden;
	z-index   : 50;

}
.overlay.open {
	opacity   : 1;
	visibility: visible;
	height    : 100%;
	z-index   : 999;
}
.overlay.open li {
	animation      : fadeInRight 0.5s ease forwards;
	animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
	animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
	animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
	animation-delay: 0.50s;
}
.overlay .menu-mobile-menu-container {
	position   : relative;
	height     : 70%;
	top        : 50%;
	transform  : translateY(-50%);
	font-size  : 30px;
	font-weight: 400;
	text-align : center;


}
.overlay ul {
	list-style: none;
	padding   : 0;
	margin    : 0 auto;
	display   : inline-block;
	position  : relative;
	//height    : 100%;
  width:100%;
margin-top:10%;


}
.overlay ul li {
	display   : block;
	min-height: 50px;
	position  : relative;
	opacity   : 0;
  margin:0px!important
}
.overlay ul li a.nav-link {
	display        : block;
	position       : relative;
	color          : $off-white;
	text-decoration: none;
	overflow       : hidden;
  font-size:35px;
  padding:0px;
  line-height: normal;
  font-variant: small-caps;
  width:80%;
  margin-left:10%;


}

.overlay ul li a.nav-link:hover {
	display        : block;
	position       : relative;
	color          : $yorange;


}


.overlay ul li a:active:after,
.overlay ul li a:focus:after,
.overlay ul li a:hover:after {
	width: 100%;
}
.overlay ul li a:after {
	content   : '';
	position  : absolute;
	bottom    : 0;
	left      : 50%;
	width     : 0;
	transform : translateX(-50%);
	height    : 3px;
	background: #FFF;
	transition: 0.35s;
}
.logo_mobile {
	background-image   : url("/wp-content/themes/Jenny-Lind/assets/img/jenny-logo-railings-white.svg");
	background-repeat  : no-repeat;
	background-size    : contain;
	background-position: center;
	width              : 150px;
	height             : 65px;
	display            : inline-block;
  left:calc(50% - 75px);
  position: fixed;
  top:10px;

}


.contact_overlay {bottom:80px;text-align:center;padding:5px;position: absolute;display:block;width:80%;color:$off-white; border-top:3px $off-white double;left:10%}

.contact_overlay a.call_me:link{color:$off-white;padding:5px;margin-top:5px;margin-bottom:5px;border:1px solid $off-white}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left   : 20%;
	}
	100% {
		opacity: 1;
		left   : 0;
	}
}
