html {
	scroll-behavior: smooth;

}

body {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb03b+20,fff0a5+81,fff0a5+81 */
	background-color: #ffb03b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb03b 20%, #fff0a5 81%, #fff0a5 81%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffb03b 20%,#fff0a5 81%,#fff0a5 81%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffb03b 20%,#fff0a5 81%,#fff0a5 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb03b', endColorstr='#fff0a5',GradientType=0 ); /* IE6-9 */



}

.content-area {
	min-height    : 50vh;
	padding-top   : 30px;
	padding-bottom: 130px;

//font-family  : 'Pisang';
//background-image: url("/wp-content/themes/Jenny-Lind/assets/img/swirls/prairie-swirl-up.svg");
//background-position: center bottom -45px;
//background-size:  400px;
//background-repeat: no-repeat;



}

.content {}
a:visited,
a:link {
	color: $cedar;
}

a:hover {
	color: $yorange;
}


.vbo-caltrigger {display:none!important;padding:0px}

.center {text-align:center;}

// reset the image text-align
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
		border-radius: 5px;
		border:2px solid $cedar;
}

img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

hr {border-top:3px double $cedar}
